$white: #fefefe;
$tuna: #3f3a64;
$silver: #bcbcbc;
$mountain: #1eae96;
$boulder: #797979;
$crimson: #e2261a;
$sunglo: #df7470;
$klein: #0427a1;
$turquoise: #61e6d2;

$porcelain: #eceeef;
$charade: #282935;
$chico: #8c6157;
$jungle: #2fad96;
$sandal: #9f8c67;

$jungledarker: #25ac94;
$dorado: #5d5450;
$thunderbird: #c92217;
$sand: #81695e;
$water: #ecf2f9;

$font: 'Catamaran', sans-serif;